{% extends "commonbaseadmin.html" %} {% block content %}
<!--//header-w3l-->
<!--/w3l-inner-page-breadcrumb-->
<style>
	.ideaContent p {
		text-align: justify;
	}

	.ideaContent h4 {
		text-align: center;
	}

	.idea {
		border-bottom: 1px dotted brown;
	}
</style>
<!-- //w3l-inner-page-breadcrumb-->
<!-- /contact-section -->
<div class="w3l-contact-10" id="contact">
	<h2 class="text-center">Blog</h2>
	<div class="form-41-mian py-lg-5 py-md-4 py-2">
		<div class="container">
			<div class="contacts-5-grid-main">
				<div class="form-inner-cont">
					<div class="idea container">
						<div class="useridea d-flex">
							<div class="d-flex">
								<div class="">
									{% if data.expert %}
									<em><strong><a href="#">{{data.expert.name}} <em class='text-info'><i
														class="fa fa-certificate"
														aria-hidden="true"></i></em></a></strong><br /><small>{{data.date}}</small></em>
									{% else %}
									<em><strong><a
												href="#">{{data.user.name}}</a></strong><br /><small>{{data.date}}</small></em>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="ideaContent container">
							<h4>{{data.title}}:</h4><br>

							<p class="line-clamp">{{data.desc}}</p>
						</div>
						{% for c in comments %}
						<div class="comment" style="border-bottom: 1px dotted brown; padding: 10px">
							<p>{{c.comment}}</p>
							<h6>{% if c.expert %}
								<em><strong><a href="#">{{c.expert.name}} <em class='text-info'><i
													class="fa fa-certificate"
													aria-hidden="true"></i></em></a></strong></em>
								{% else %}
								<em><strong><a
											href="#">{{c.user.name}}</a></strong></em>
								{% endif %}</h6>
							<small>{{c.date}}</small>
						</div>
						{% endfor %}
						<br /><br />
					</div>
				</div>
			</div>
		</div>
		<!-- //contacts-5-grid -->
	</div>
</div>

<!-- //contact-section -->
<!-- footer -->
{% endblock %}