{% extends "commonbase.html" %}
{% block content1 %}

<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            
            <h1 style="font-size:60px;" align="crenter">Expert Registration</h1>
        </div>
        <div class="contact-grids">
            <center>
            <div class="contact-right">
                <form  method="post" class="signin-form" enctype="multipart/form-data">
                    {% csrf_token %}
                   

                        <input type="text" name="name" id="w3lName" placeholder="Your Name*"
                            class="contact-input" required="" pattern="[A-Za-z ]+"
                            />
                        <input type="email" name="email" id="w3lSender" placeholder="Your Email*"
                            class="contact-input" required="" />
                        <input type="tel" name="con" id="w3lSender" placeholder="Your Contact*"
                            class="contact-input" required=""
                            maxlength="10"
                            pattern="[6789][0-9]{9}"
                         />
                            License:
                        <input type="file" name="lic" id="w3lSender" placeholder="Your License*"
                            class="contact-input" required="" />
                        <input type="password" name="psw" id="w3lSender" placeholder="Your Password*"
                            class="contact-input" required=""
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                            />
                       
                      
                            <div class="form-input">
                                <textarea name="add" id="w3lMessage" placeholder="Address*"
                                    required=""></textarea>
                            </div>
                   
                    <div class="form-buttonhny text-lg-center">
                        <button class="btn btn-style btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </center>
        </div>

   
      
    </div>
</section>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}