{% extends "expertbase.html" %}
{% block content %}
<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">

            <h1 style="font-size:60px;" class="text-center">Health Tips</h1>
        </div>
        <div class="contact-grids">
            <center>
                <div class="w-50" style="margin: auto;">
                    <form method="post" class="signin-form" enctype="multipart/form-data">

                        {% csrf_token %}
                        <input type="text" name="uname" id="w3lName" placeholder="Title*" class="contact-input"
                            required="" />
                        <textarea name="desc" id="w3lSender" placeholder="Health Tips" class="contact-input" required="" ></textarea>




                        <div class="form-buttonhny text-center">
                            <button class="btn btn-style btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </center>
        </div>



    </div>
</section>


<div class="other_form_bg w-100">
    <table class="table table-secondary table-striped w-50 m-auto mb-5">
        <tr class="table_head">
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for d1 in dta %}
        <tr>
            <td>{{d1.title}}</td>
            <td>{{d1.desc}}</td>
            <td><a href="/expertRemoveTips?id={{d1.id}}" class="btn btn-danger">Remove</a></td>
        </tr>

        {% endfor %}
    </table>

</div>

{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}