{% extends "commonbaseuser.html" %}
{% block content3 %}

<style>
    h3,fieldset{padding: 10px;
    color:rgb(0, 0, 0)}
</style>
<h1 align="center" class="bg-light"><u>HEALTH TIPS</u></h1>
<div class="w3-services-grids py-lg-4 text-center" style="padding: 20px;">
    <div class="fea-gd-vv row">
        {% for d in data %}
        <div class="col-lg-4 col-md-7" style="margin-bottom: 30px">
            <div class="feature-gd icon-yellow">
                <div class="info" style="margin-top: 50px">
                    <h3>{{d.title}}</h3>
                    <p><textarea style="width: 80%; height: auto; border: none;outline: none;text-align: center; background:none;" readonly disabled>{{d.desc}}</textarea></p>
                    <p>Added By.:<strong class="text-left">{{d.expert.name}}</strong></p>
                    <em>{{d.date}}</em>
                    
                    
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}