{% extends "commonbaseuser.html" %}
{% block content3 %}

<style>
    th,
    td {
        padding: 10px;
        font-size: large;
        color: rgb(0, 0, 0);
    }

    th {
        background-color: rgb(251, 103, 35);
        color: white;
    }
</style>
<div style="margin: 50px;">
    <center>
        <h1 style="margin: 10px;color:rgb(0, 0, 0)">Bookings</h1>
        <table style="margin-top: 40px;" class="w-100">
            <tr>
                <th>Sl/No.</th>
                <th>Date</th>
                <th>Doctor</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>Token</th>
                <th>Status</th>
            </tr>

            {% for d in data %}
            <tr>

                <td>{{forloop.counter}}</td>
                <td>{{d.bookeddate}}</td>
                <td>{{d.docid.name}}</td>
                <td>{{d.docid.phone}}</td>
                <td>{{d.docid.address}}</td>
                <td>{{d.bookingdate}}</td>
                <td>{{d.time}}</td>
                <td>{{d.token}}</td>
                <td>{{d.status}}
                    {% if d.status == 'Consulted' %}
                        <a href="/userpayment?id={{d.id}}" class="btn btn-primary">Make Payent</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    </center>
</div>


</div>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}