{% extends "commonbaseuser.html" %}
{% block content3 %}

<style>
    h3,fieldset{padding: 10px;
    color:rgb(0, 0, 0)}
</style>
<h1 align="center" class="bg-light"><u>EXERCISE</u></h1>
<div class="w3-services-grids py-lg-4 text-center" style="padding: 20px;">
    <div class="fea-gd-vv row">
        {% for d in data %}
        <div class="col-lg-4 col-md-7" style="margin-bottom: 30px">
            <div class="feature-gd icon-yellow">
                <div class="icon">
                    <i
                        ><video name='demo' controls autoplay width='90%' height='90%'>
                            <source src="../static/media/{{d.file}}" type="video/mp4"></source>
                            </video></i><br>
                            <em>{{d.date}}</em>
                </div>
                <div class="info" style="margin-top: 50px">
                    <h3>{{d.title}}</h3>
                    <p>Added By.:<strong class="text-left">{{d.expert.name}}</strong></p>
                    
                    
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}