{% extends "commonbaseuser.html" %}
{% block content3 %}

<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            
            <h1 style="font-size:60px;" align="center">Request</h1>
        </div>
        <div class="contact-grids">
            <center>
            <div class="contact-right">
                <form  method="post" class="signin-form">
                    {% csrf_token %}
                        In Cm:
                        <input type="number" name="height" id="w3lName" placeholder="Your Height*"
                        class="contact-input" min="0" required="" />
                        In Kg:
                        <input type="number" name="weight" id="w3lSender" placeholder="Your Weight*"
                            class="contact-input" min="0" required="" />
                            Physcial Activity:
                        <select name="activeStatus" class="form-control" id="select">
                            <option value="" selected disabled>Select Activity Level</option>
                                <option value="Moderately active (3-5 days/week)">Moderately active (moderate exercise/sports 3-5 days/week)</option>
                                <option value="Very active (6-7 days/week)">Very active (hard exercise/sports 6-7 days/week)</option>
                                <option value="Super active (twice/day)">Super active (very hard exercise/sports & physical job or 2x training twice/day)</option>
                        </select>
                        <br>
                        <textarea name="healthStatus" placeholder="Current health status and medical conditions" id=""></textarea><br>
                        <select name="goal" class="form-control" id="select">
                            <option value="" selected disabled>Select Goal</option>
                            <option value="Weight Loss">Weight Loss</option>
                            <option value="Weight Gain">Weight Gain</option>
                            <option value="Stay Healthy">Stay Healthy</option>
                                
                        </select>
                   <br>
                    <div class="form-buttonhny text-lg-center">
                        <button class="btn btn-style btn-primary">Request</button>
                    </div>
                </form>
            </div>
        </center>
        </div>

   
      
    </div>
</section>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}